<h1>{{type}} Request Received!</h1>

<table>

  <tr>
    <th>PARAMETER</th>
    <th>VALUE</th>
  </tr>
  
  {{#each urlList}}
  <tr>
    <td>{{this.name}}: </td> <td>{{this.value}}</td>
  </tr>
  {{/each}}
</table>
</br>

<table>
  <tr>
    <th>BODY PARAM</th>
    <th>BODY VALUE (empty table if nothing in body for POST)</th>
  </tr>

  {{#each bodyList}}
  <tr>
    <td>{{this.name}}:</td> <td> {{this.value}}</td>
  </tr>
  {{/each}}
</table>